@import "variables";

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
